<div class="d-none d-sm-block">
  <img src="../../assets/home-slogan.jpg" class="card-img-top" alt="home-slogan">
  <div class="card-body row py-5">
    <div class="ml-auto">
      <img src="../../../assets/logo-eligarlo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </div>
    <div class="card-text text-center d-block mr-auto align-self-end">
      <h4 class="font-weight-bold align-self-end mb-0">arcia's, food for the soul.</h4>
    </div>
  </div>
</div>

<div class="card-body row d-sm-none pt-0 px-3">
  <div class="col-12 p-0">
    <img src="../../assets/home-slogan.jpg" class="card-img-top mb-3" alt="home-slogan">
  </div>

  <div class="col text-right pr-0">
    <img src="../../../assets/logo-eligarlo.svg" width="65" height="65" class="align-top" alt="logo-eligarlo">
  </div>
  <div class="col brand-name-title pl-0 align-self-end">arcia's,</div>
  <div class="col-12 text-center">
    <h4 class="font-weight-bold mb-0"> food for the soul.</h4>
  </div>
</div>
