<nav class="px-2 py-1">
    <div class="mr-2">
      <img src="../../../assets/logo-flipkart.svg" width="65" height="65" class="d-inline-block align-top" alt="">
    </div>
    <div class="brand-name-title d-none d-lg-block">
      Garcia's Supermarket
    </div>
    <div class="mr-auto status-sign d-none d-lg-block">
        <img *ngIf="userLogged"  src="../../../assets/sign-open.svg" width="40" height="40" class="d-inline-block align-top" alt="">
        <img *ngIf="!userLogged"  src="../../../assets/sign-close.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      </div>
    <div class="ml-auto">User info</div>
</nav>
