<nav class="px-2 py-1">
  <a [routerLink]="['/']" class="logo-link d-flex">
    <span>
      <img src="../../../assets/logo-eligarlo.svg" width="65" height="65" class="d-inline-block align-top" alt="logo-eligarlo">
    </span>
    <span class="brand-name-title d-none d-lg-inline-block align-self-end mr-3">
      arcia's
    </span>
  </a>
    <div class="status-sign d-none d-lg-block mr-auto">
        <img *ngIf="userIsLogged"  src="../../../assets/sign-open.svg" width="40" height="40" class="d-inline-block align-top" alt="">
        <img *ngIf="!userIsLogged"  src="../../../assets/sign-close.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      </div>

    <div class="row mr-2 justify-content-end text-right">
      <div class="col-12 mb-1 d-none d-lg-block" *ngIf="userIsLogged">Contact: {{ email }}</div>
      <div class="col-6 nav-contact-name d-none d-lg-block" *ngIf="userIsLogged">Hello {{ username }}</div>
      <div class="col-12 nav-contact-name d-none d-lg-block" *ngIf="!userIsLogged">Hello Guest</div>
      <div class="col-12 col-lg-2 px-0 mr-3 btn btn-sm btn-outline-danger nav-logout" *ngIf="userIsLogged" (click)="onLogout()">Logout</div>
    </div>
</nav>
