<section class="container-fluid order-view pt-3">
  <section class="row justify-content-around">

    <div class="order-card col-12 col-lg-5 rounded mb-3 mb-lg-0">
      <div class="row border-bottom border-white">
        <div class="col align-self-end pt-4">
          <h4 class="font-weight-bold text-white">My Cart</h4>
        </div>
        <div class="col text-right align-self-center">
          <button (click)="onBackToShop()" class="btn btn-primary btn-sm">Back to Shop</button>
        </div>
      </div>

      <div class="row my-3">
        <div *ngFor="let cartProduct of cart.products" class="col-12 py-2 border-bottom border-white">
          <div class="row">
            <div class="col-7 align-self-center">
              <div class="row">
                <div class="col-12"><span class="font-weight-bold text-primary">Item:</span> {{ cartProduct.name }}</div>
                <div class="col-12"><span class="font-weight-bold text-primary">Quantity:</span> {{ cartProduct.quantity }} </div>
                <div class="col-12"><span class="font-weight-bold text-primary">Unit Price:</span> ${{ cartProduct.price }}</div>
              </div>
            </div>
            <div class="col-2 text-right">
              <img class="img-fluid rounded" [src]="cartProduct.image" [alt]="cartProduct.name">
            </div>
          </div>
        </div>
      </div>

      <div class="row py-3">
        <div class="col align-self-end"><span class="font-weight-bold">Total:</span> ${{ totalPrice }}</div>
      </div>
    </div>

    <div class="order-card col-12 col-lg-5 rounded mb-3 mb-lg-0">
      <div class="row border-bottom border-white">
        <div class="col align-self-end pt-4">
          <h4 class="font-weight-bold text-white">Order</h4>
        </div>
      </div>
    </div>

  </section>
</section>
