<div class="row mx-auto justify-content-center mt-3">
  <div class="card card-first-dynamic bg-dark text-white col-11 col-lg-3 mx-2 justify-content-center">
    <div class="row no-gutters">
      <div *ngIf="userIsLogged && role !== 1" class="col-md-6 mx-auto pt-5 pt-md-0">
        <img src="../../../assets/shopping-cart.svg" class="card-img" alt="start_shopping">
      </div>
      <div *ngIf="userIsLogged && role === 1" class="col-md-6 mx-auto pt-5 pt-md-0">
        <img src="../../../assets/shop-management.svg" class="card-img img-fluid" alt="management">
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-10 mx-auto">
        <div *ngIf="userIsLogged && role !== 1" class="card-body text-center">
          <h5 class="card-title">What will you buy today?</h5>
          <button *ngIf="!hasCart" (click)="toShopping()" class="btn btn-success mt-3">Start Shopping</button>
          <button *ngIf="hasCart" (click)="toShopping()" class="btn btn-success mt-3">Continue Shopping</button>
        </div>
        <div *ngIf="userIsLogged && role === 1" class="card-body text-center">
          <h5 class="card-title">Working hard today?</h5>
          <button (click)="toManagement()" class="btn btn-success mt-3">Go to Management</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-slogan col-11 mt-3 col-lg-4 mt-lg-0 mx-2 px-0">
    <app-slogan></app-slogan>
  </div>
  <div class="card card-info col-11 my-3 col-lg-4 my-lg-0 mx-2 px-0">
    <app-shop-info></app-shop-info>
  </div>
</div>
