<form [formGroup]="addCategoryForm" (submit)="onAddCategory()"
      class="form-row justify-content-center border rounded bg-light text-left">
  <h3 class="col-12 my-2 py-4 font-weight-bold text-center">Add Category</h3>
  <div class="col-12 form-group px-4">
    <label for="addCategory">Name</label>
    <input formControlName="name" type="text" class="form-control" id="addCategory" placeholder="Milk & Eggs">
  </div>
  <div class="col-6 col-lg-5 align-self-end my-3">
    <button class="btn btn-success">Save</button>
  </div>
</form>
<div class="invalid-feedback-message col-12 text-left"
     [ngClass]="{'d-block': inputsValidation.addCategory, 'd-none': !inputsValidation.addCategory}">
  {{ alertMessage.addCategory }}
</div>
<div class="valid-feedback-message col-12 text-left"
     [ngClass]="{'d-block': successValidation.addCategory, 'd-none': !successValidation.addCategory}">
  {{ successMessage.addCategory }}
</div>
